/*
#############
    RESET
#############
*/
/* Global defaults */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  outline-color: transparent;
  color: inherit;
  font: inherit;
}

/* Core root defaults */
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Media defaults */
img, picture, video, iframe, figure {
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

/* Anchor defaults*/
a {
  display: block;
}

p a {
  display: inline;
}

/* List elements defaults */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Tables defaults */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Font Defaults */
h1, h2, h3, h4, h5, h6, p, span, strong, blockquote, i, b, u, em {
  font-size: 1em;
}

/* Reduced Motion Settings */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*


#################
CUSTOM PROPERTIES
#################
*/
:root {
  /*

  COLOR VARIABLES 
  */
  /* primary */
  --clr-primary-300: hsl(300, 69%, 71%);
  --clr-primary-400: hsl(257, 40%, 49%);
  /* secondary */
  /* neutral */
  --clr-neutral-100: hsl(0, 0%, 100%);
  /*

  FONT VARIABLES 
  */
  /* Font families */
  --ff-base: "Open Sans", sans-serif;
  --ff-accent: "Poppins", sans-serif;
  /* Font sizes */
  --fs-300: 0.75rem; /* --- 12px */
  --fs-400: 1rem; /* ------ 16px */
  --fs-450: 1.125rem; /* -- 18px */
  --fs-500: 1.25rem; /* --- 20px */
  --fs-600: 1.5rem; /* ---- 24px */
  --fs-700: 2.5rem; /* ---- 40px */
  /* Font weights */
  --fw-regular: 400;
  --fw-bold: 600;
  /* 

  Sizes 
  */
  --size-2: 0.125rem; /* -- 2px */
  --size-4: 0.25rem; /* --- 4px */
  --size-6: 0.375rem; /* -- 6px */
  --size-8: 0.5rem; /* ---- 8px */
  --size-10: 0.625rem; /* -- 10px */
  --size-12: 0.75rem; /* --- 12px */
  --size-14: 0.875rem; /* -- 14px */
  --size-16: 1rem; /* ------ 16px */
  --size-20: 1.25rem; /* --- 20px */
  --size-24: 1.5rem; /* ---- 24px */
  --size-28: 1.75rem; /* --- 28px */
  --size-32: 2rem; /* ------ 32px */
  --size-36: 2.25rem; /* --- 36px */
  --size-40: 2.5rem; /* ---- 40px */
  --size-44: 2.75rem; /* --- 44px */
  --size-48: 3rem; /* ------ 48px */
  --size-52: 3.25rem; /* --- 52px */
  --size-56: 3.5rem; /* ---- 56px */
  --size-60: 3.75rem; /* --- 60px */
  --size-64: 4rem; /* ------ 64px */
  /* 
  Other properties 
  */
  --inline-section-padding: var(--size-40);
}
@media screen and (min-width: 75em) {
  :root {
    --inline-section-padding: 5rem;
  }
}

/*


##############
GENERAL STYLES
##############
*/
body {
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
}

/*


###############
UTILITY CLASSES
###############
*/
.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

.primary-heading {
  font-family: var(--ff-accent);
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
}
@media screen and (min-width: 75em) {
  .primary-heading {
    font-size: var(--fs-700);
  }
}

.button {
  max-width: 12.5rem;
  min-height: var(--size-40);
  background-color: var(--clr-neutral-100);
  color: var(--clr-primary-400);
  border-radius: 100vmax;
  font-family: var(--ff-accent);
  font-size: var(--fs-300);
  padding: 0.5em 2em;
  text-decoration: none;
  box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.2);
}
.button:hover, .button:focus-visible {
  background-color: var(--clr-primary-300);
  color: var(--clr-neutral-100);
}

/*


#############
LAYOUT STYLES
#############
*/
body {
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 75em) {
  body {
    background-image: url(../images/bg-desktop.svg);
    background-size: cover;
  }
}

.header {
  justify-content: flex-start;
  padding-inline: var(--inline-section-padding);
  height: clamp(5.75rem, 10vw, 10rem);
}
.header__logo {
  width: clamp(8.125rem, 15vw, 13.75rem);
}

.main {
  flex: 1;
}

.section {
  flex-direction: column;
  text-align: center;
  padding-inline: var(--inline-section-padding);
}
@media screen and (min-width: 75em) {
  .section {
    flex-direction: row;
    text-align: left;
    gap: 3vw;
  }
}
.section__container {
  flex: 1;
}
.section__img-container {
  margin-block: var(--size-32);
}
@media screen and (min-width: 75em) {
  .section__img-container {
    flex-basis: 27.5rem;
    margin-block: 0;
  }
}
.section__img {
  width: 100%;
}
@media screen and (min-width: 75em) {
  .section__content {
    flex-basis: 20rem;
  }
}
.section__title {
  margin-top: var(--size-28);
  margin-bottom: var(--size-16);
}
@media screen and (min-width: 75em) {
  .section__title {
    margin-top: var(--size-64);
  }
}
.section__paragraph {
  line-height: 1.5;
  margin-bottom: var(--size-24);
}
@media screen and (min-width: 75em) {
  .section__paragraph {
    font-size: var(--fs-450);
  }
}
.section__button {
  margin-bottom: var(--size-24);
  margin-inline: auto;
}
@media screen and (min-width: 75em) {
  .section__button {
    margin-inline: 0;
    font-size: var(--fs-450);
    padding: 0.8em 2em;
  }
}

@media screen and (min-width: 75em) {
  .footer {
    position: absolute;
    right: var(--inline-section-padding);
    bottom: 0;
  }
}
.footer__links-list {
  margin-block: var(--size-36);
  gap: var(--size-12);
}
.footer__link-item {
  list-style: none;
}
.footer__link {
  width: var(--size-32);
  height: var(--size-32);
  border: 1px solid var(--clr-neutral-100);
  border-radius: 50%;
}
@media screen and (min-width: 75em) {
  .footer__link {
    width: var(--size-40);
    height: var(--size-40);
    font-size: var(--fs-500);
  }
}
.footer__link:hover, .footer__link:focus-visible {
  color: var(--clr-primary-300);
  border-color: var(--clr-primary-300);
}

/*# sourceMappingURL=styles.css.map */
